.body {
  min-height: 10000px;
}

.jumbotron {
  padding: 40px 20px;
  background-color: #ebe7e4;
  text-align: center;
  font-family: sans-serif;
  color: rgb(105, 105, 88);
}

h2 {
  padding: 25px 10px;
  margin: 5px;
  text-decoration-line: underline;
  font-size: 40px;
  text-align: left;
  font-family: sans-serif;
}

.row {
  font-size: 100%;
  text-align: justify;
  margin: 5px;
  padding: 15px;
  font-family: sans-serif;
  color: black;
}

#Biodata {
  text-align: center;
  background-color: #ebe7e4;
  padding-bottom: 15px;
  margin-top: 10px;
  font-family: sans-serif;
}

h3 {
  padding: 40px 30px;
  text-decoration-line: underline;
  text-align: left;
  font-size: 40px;
  margin-top: 10px;
  color: rgb(105, 105, 88);
  font-family: sans-serif;
}

p1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-style: bold;
  padding: 15px 15px;
  margin-top: 10px;
  color: rgb(105, 105, 88);
}

ul {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(105, 105, 88);
}

h4 {
  padding: 40px 30px;
  text-decoration-line: underline;
  text-align: left;
  font-size: 40px;
  margin-top: 10px;
  font-family: sans-serif;
}

.Pencapaian {
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
}

tr td {
  text-align: center;
  font-family: sans-serif;
}

ul li span {
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: sans-serif;
}

h5 {
  font-size: 20px;
  font-style: italic;
  font-family: sans-serif;
}

.Karya {
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
}

#SocialMedia {
  text-align: center;
  background-color: #ebe7e4;
  color: rgb(105, 105, 88);
  padding-bottom: 15px;
  margin-top: 10px;
  font-family: sans-serif;
}

h6 {
  padding: 40px 30px;
  text-decoration-line: underline;
  text-align: left;
  font-size: 40px;
  margin-top: 10px;
  color: rgb(105, 105, 88);
  font-family: sans-serif;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

.Instagram {
  color: rgb(105, 105, 88);
}

.Twitter {
  color: rgb(105, 105, 88);
}

.Tiktok {
  color: rgb(105, 105, 88);
}

.YouTube {
  color: rgb(105, 105, 88);
}
